<div class="container">
  <h1>Notifier</h1>
  <div id="notification">
    <%= render @notifications %>
  </div>
  <br>
  <form>
    <label>Send a notification:</label><br>
    <input id="sender-input" type="text" data-behavior="notifier_serder">
  </form>
</div>

